/* This universally sets all elements padding and margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* changes background color to grey-offwhite when it apears between sections */
body {
    background-color: #d9dcd6;
}

/* header formatting adjusting position, font, background color and color */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* changes header font sizes to 48px and keeps it in line with rest of block */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Changes letters in SEO to grey creating a mixed letter effect */
.header h1 .seo {
    color: #d9dcd6;
}
/* adjust the positioning, font-family and size of all elements with class topnav */
.topnav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removes bullet style from unordered list links */
.topnav ul {
    list-style-type: none;
}

/* makes links appear in a line instead of stacked */
.topnav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* anchor link colors changed to white and underline removed */
a {
    color: #ffffff;
    text-decoration: none;
}

/* changes all paragraph font size to 16px */
p {
    font-size: 16px;
}

/* division with background image of people working at table sized and positioned */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* places images for cards to the left of heading and text */
.float-left {
    float: left;
    margin-right: 25px;
}
/* places images for cards to the right of heading and text */
.float-right {
    float: right;
    margin-left: 25px;
}

/* main content section just beneath hero image */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* positions and styles elements with class link-point */
.link-point {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    
}

/* sets maximum allowed height for images associated with class="link-point" */
.link-point img {
    max-height: 200px;
}

/* positions and changes font size of all headings associated with class="link-point" */
.link-point h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* positions, adjusts height, width, font-family and background color of divsion container for benefits or class="benefits" */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* positions and sets color for pargraphs written in the benefits division */
.benefit-style {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styleizes headings written in the benefits division */
.benefit-style h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px;
}

/* positions and sets a maximum width for images contained in the benefits division */
.benefit-style img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* creates a footer with no border, in the center of the body with positioning */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* adjust the size of the footer heading font */
.footer h4 {
    font-size: 20px;
}
